*.bundle.*
*.log
.DS_Store
.cache
.cache-loader
.eslintcache
.jupyter
.yarn
lib
node_modules
package-lock.json
tsconfig.tsbuildinfo
yarn-error.log
build
dist
*.egg-info
__pycache__
.pytest_cache
.coverage
*.pyc
*.pyo
.venv
venv
env
.mypy_cache
.tox
.ipynb_checkpoints
